#mainbox {
      background-color: #ccffff;
      border-color: white;
      width: 60vw;
      height: 50vw;
      margin: 50px;
  }


  body, html {
      cursor: url("bearpawcursor.cur"), progress;
  }
  .floatleft {
    float:left;
}
  .floatright {
      float:right;
  }
  h1 {
    color: grey;
font-family: "Arial black",Gadget, sans-serif;
    font-size: 60px;
  }

  p {
    color: grey;
    font-family: "arial",sans-serif;
    font-size: 20px;
  }
