#mainbox {
      background-color: #ccffff;
      border-color: white;
      width: 60vw;
      height: 50vw;
      margin: 50px;
  }


  body, html {
      cursor: url("bearpawcursor.cur"), progress;
  }
  .floatleft {
    float:left;
}
  .floatright {
      float:right;
  }
